body {
    padding: 0px;
	margin: 0 -50px;
    width:100%;background-color:white;
}
#content {
   margin: 0 auto;
   width:100%;
}
#content ul {
    width:100%;height:30px;
    }
#content li {
    float:left;display:block;left:110px;position:relative;
}
.active {color:#5F9EA0;
}

h1 {color:#515151; margin-left:150px;}
.intent {
    margin-left:150px;
    height:200px;width:900px;
    margin-top:1em;
}
a {text-decoration:none;
}
    a:hover {color:#00CD66 	;
    }
    a:active {color:red;
    }
.main-hd {
    width:800px;
    height:60px;
    padding-left:110px;
    margin-top:-145px;
}
.title {width:690px;height:30px;background-color:#F0F8FF;}
.title-link {font-size:15px;color:#36648B;}
.title:hover {background-color:#87CEEB;}

.toggle_review {width:20px;height:25px;float:right;}
.right {
    position:absolute;
    content:"";
    width:0;
    height:0;
    border:10px solid transparent;
    border-bottom-color:#EEB4B4;
    
}
.right1 {
    position:absolute;
    content:"";
    width:0;
    height:0;
    border:10px solid transparent;

    border-top-color:#EEB4B4;
    margin-top:10px;
}
.header-more {
    width:690px;height:35px;
}
.header-more span {
    margin-left:5px;
}
.author {color:#458B74;}
.subject-title {
    color:#228B22;
}
.short-content {
    width:690px;height:135px;padding-left:110px;font-size:15px;color:#303030;
}
.pl {color:#8E8E8E;
}
.more-info {position:relative;
    color:#8E8E8E;width:690px;height:10px;top:30px;font-size:13px;
}